<div style="margin: 10px;">
Display of numbers in different format using PIPE<br>
{{title | uppercase}}
<br><br>
{{app|lowercase}}

<br><br>
original value is {{value1}}
<br><br>
{{value1|number:'10.2-2'}}
<br><br>
{{value1|number:'6.2-5'}}
<br><br>
{{value1|number:'5.0-0'}}
<br><br>
original value is {{value2}}
<br><br>
{{value2|number:'5.2-3'}}
<hr>
<br>
<p> {{ d1|date:'dd/MM/yyyy'}}</p>
<br>
<p> {{ d1|date:'EEEE MMMM dd,yyyy'}}</p>
<br>
<p> {{ d1|date:'EEE MMMM dd,yyyy'}}</p>

<br>
<hr>
<br>
<p>{{d2 | date:'HH:mm:ss'}}</p><br>

<p>{{d2 | date:'hh:mm:ss'}}</p><br>

<br><br>
Display of Money in different currency format
<br><br>
{{salary|currency:'USD'}}<br>
{{salary|currency:'EUR'}}<br>
{{salary|currency:'GBP'}}<br>
{{salary|currency:'INR'}}<br>
{{salary|currency:'JPY'}}<br>



</div>

<hr>
<app-product></app-product>